# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath
.tern-project
.metadata/
Servers/

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
temp/
*.log
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

# system ignore
.DS_Store
Thumbs.db